# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

third-party/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
progeny_test

tools/*
!tools/gtest/CMakeLists.txt
!tools/DocumentationTargets.cmake

.idea/
